@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', 'Times New Roman';
}

body {
    background-color: white;
    color: #023c6b;
}

nav {
    display: flex;
    background-color: #023c6b;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav > span.navlogo {
    padding: 1%;
    flex: 6;
    text-align: left; 
    padding-left: 2%;
}

nav > span > a {
    color: white;
    text-decoration: none;
}

nav > span > a:hover {
    color: white;
    text-decoration: underline;
}

nav > span:not(.navlogo):hover {
    background-color: #354c74;
    color: white;
}

nav > span {
    padding: 1%;
    flex: 1;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
}

.bottomhalf {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #023c6b;
    min-height: 35vh;
    min-width: 100%;
}

.indexbox {
    position: absolute;
    height: 65vh;
    min-width: 100%;
    background-color: white;
}

.smallindex {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55%;
    width: 60%;
    background-color: #023c6b;
}

.iconBox {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    background-color: #023c6b;
    color: white;
}

.decalthumb {
    flex: 1;
    text-align: center;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fb1 {
    color: white;
    flex: 1;
    text-align: center;
}

@media only screen and (max-width: 596px) {
    .fb1 > div > h5 {
        font-size: 15px;
    }
}

